:root {
    background: black;
}

.content-frame {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-contact {
    display: flex;
    border-radius: 20px;
    border: 5px solid transparent;
    border-image: url("../../assets/pictures/bloodTexture.jpg") 100/ 4px round;
    width: 80vw;
}

.contact-components {
    height: 40vw;
    width: 80vw;
    border: 5px solid transparent;
    border-image: url("../../assets/pictures/bloodTexture.jpg") 100/ 4px round;
    background: center url("../../assets/pictures/nurglebg.jpg");
    background-size: cover;
}

.ritual, .sacrifice, .phone, .send-blood {
    width: 10vw;
    color: rgb(221, 28, 28);
    margin: 0 auto 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vw;
    position: relative;
}

.ritual:hover, .sacrifice:hover, .phone:hover, .send-blood:hover {

}

.nav-contact img {
    width: 100%;
    margin: auto;
    display: block;
}

.send-blood img {
    margin-bottom: 2vw; 
}

.nav-contact hr {
    border: 1px solid transparent;
    border-image: url("../../assets/pictures/bloodTexture.jpg") 100/ 4px round;
    margin: 0;
    height: 10vw;
    align-self: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    opacity: 1;
}

.skull {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.send-blood .container {
    width: 85%;
    display: flex;
    align-items: center;
}

.ritualOn {
    display: flex;
}

.ritualOff {
    display: none;
}