.listOffers {
    margin : 3vw auto;
    color: rgb(223, 26, 26);
    font-size: 2.9rem;
    text-shadow: 
        #000000 1px 1px,
        #000000 -1px 1px, 
        #000000 -1px -1px, 
        #000000 1px -1px;
}

.listOffers p {
    margin-bottom: 1.5vw;
}

.bloodOffers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border : solid red 3px;
    height: 20vw;
    margin: 0 20%;
}

.bloodText {
    font-size: 1.9rem;
}

.bloodOffers button {
    margin-top : 5%;
    background-color : black;
    font-size : 1.5rem;
    padding : 2%;
    color : red;
    border-radius: 10px;;
    
}