* {
    margin : 0px;
    padding : 0px;
}

.listOffers {
    margin : 5vw;
    color: rgb(223, 26, 26);
    font-size: 2.9rem;
    text-shadow: 
        #000000 1px 1px,
        #000000 -1px 1px, 
        #000000 -1px -1px, 
        #000000 1px -1px;
    
}

.bloodOffers {
    margin-top : 7%;
    border : solid red 2px;
    height : 300px;
}

.bloodText {
    height : 30%;  
    padding-top : 5%;
    font-size: 1.9rem;
}

.bloodButton {
    height : 50%;     
}

.bloodOffers button {
    margin-top : 5%;
    background-color : black;
    font-size : 1.5rem;
    padding : 2%;
    color : red;
    border-radius: 10px;;
    
}