.footerContent {
    display : flex;
    height : 80px;
    background-color : black;
    align-items: center;
    justify-content: center;
    border-top : solid white 2px;
    
}

.neon {
    font-size : 2.2vw;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
  }
  