* {
    margin : 0px;
    padding : 0px;
    background : black ;
}

.listMonsters-title {
    font-size : 5vw;
    margin-bottom : 100px;
    color : white;
}

/*big box*/

.listMonsters-card {       
    border: solid #CFB53B 1px; ;
    border-top-right-radius : 30px; 
    margin-top : 20px;
    padding : 2%;
    display : flex;
    justify-content: space-between;
    margin-right : 5%;
    margin-left : 5%;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");

}


/* text box*/

.listMonsters-blabla {
    
    display : flex;
    flex-direction : column;
    width : 80%;
}

.listMonsters-name-parent {
    height : 50%;
    display : flex;
    justify-content : center;
    align-items: center;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
    
}

.listMonsters-name {
    font-size : 2.5vw;
    color: black;
    font-family: 'Great Vibes', cursive;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");    
}

/*Biography box*/

.listMonsters-bio-parents {
    display: flex;
    flex-direction : column;
    height : 50%;
    border : solid black;
    text-align : left;
    padding : 20px;
    justify-content : center;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
}

.listMonsters-bio-parents a {
    text-decoration : none;
    color : #CFB53B;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
}

.listMonsters-bio {
    color : black;
    font-size : 1.6vw;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
}

/**Hover + img + stats **/

.imgParent {
    position:relative;
    background: black;
    margin-right: 2%;
    
}

.imgParent:hover {
    cursor:pointer;
    color:red;
}

.overlay{
    display:none;
    text-align: center;    
}

.imgParent:hover .overlay {
    position:absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction:column;
    justify-content:center;
    background: black;    
    width:100%;
    height:100%;
    opacity:0.8;
}

.listMonsters-stats {
    font-size: 2vw;
    background-color : black
    
}
