* {
    margin : 0px;
    padding : 0px;
    background : black ;
}

.listMonsters-title {
    font-size : 4vw;
    margin-bottom : 30px;
    color : white;
    text-align : left;
    margin-left : 5%;
    font-family: 'Staatliches', cursive;
}

/*big box*/

.listMonsters-card {       
    border: solid #CFB53B 1px ;
    border-top-right-radius : 30px; 
    margin-top : 20px;
    padding : 2%;
    display : flex;
    justify-content: space-between;
    margin-right : 5%;
    margin-left : 5%;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
   
}

/* text box + shiny if stier*/

.listMonsters-blabla {   
    display : flex;
    flex-direction : column;
    width : 80%;
    
}

.listMonsters-name-parent {
    height : 50%;
    display : flex;
    justify-content : center;
    align-items: center;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
    
}

.listMonsters-name-parent-s {
    
    height : 50%;
    display : flex;
    justify-content : center;
    align-items: center;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
    position: relative;
    overflow: hidden; 
    
}

.listMonsters-name-parent-s:after {
    animation: shine 3s ease-in-out  infinite;
    animation-fill-mode: forwards;  
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );   
}

.listMonsters-name-parent-s:after {
    opacity : 0;
}

@keyframes shine{
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
}


.listMonsters-name {
    font-size : 2.8vw;
    color: black;
    font-family: 'Great Vibes', cursive;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");    
}



/*Biography box*/

.listMonsters-bio-parents {
    display: flex;
    flex-direction : column;
    height : 50%;
    border : solid black;
    text-align : left;
    padding : 20px;
    justify-content : center;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
}

.listMonsters-bio-parents a {
    text-decoration : none;
    color : #CFB53B;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
}

.listMonsters-bio {
    color : black;
    font-size : 1.6vw;
    background-color: #9c0500;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
}

/**Hover + img + stats **/

.listMonsters-img-s {
    border: solid #CFB53B 3px ;
    display : inline-block;
    position: relative;
    overflow: hidden;
}

.listMonsters-img {
    border : none;
}

.imgParent {
    position:relative;
    background: black;
    margin-right: 2%;    
}

.imgParent:hover {
    cursor:pointer;
    color:red;
}

.listMonsters-overlay{
    display:none;
    text-align: center;    
}

.imgParent:hover .listMonsters-overlay {
    position:absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction:column;
    justify-content:center;
    background: black;    
    width:100%;
    height:100%;
    opacity:0.8;
}

.listMonsters-stats {
    font-size: 2vw;
    background-color : black    
}
