.Nav-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
     flex-direction: row; 
    align-items: flex-start;
    /* justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    color: white;
    list-style: none;
     /* padding-left: 1vw;
    font-size: 230%; 
    padding-top: 2vw;
    padding-bottom: 2vw; */
    margin : auto;
}

.Nav-list {
    margin: 1em;
    
}

li .logo {
    width: 5vw;
    height: 5vw;
}

li *{
    text-decoration: none;
}

.Nav-list1 {
    margin: auto;
    font-weight: bold;
}

.Nav-list2 {
    margin: auto;
    font-weight: bold;
}
.Nav-list3 {
    margin: auto;
    font-weight: bold;
}




